{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="px-4 py-12 sm:px-6 lg:px-8">
            <div class="flex justify-between gap-2 mb-4">
                <a href="{% url 'home' %}"
                   class="inline-flex items-center px-3 py-1.5 rounded-md text-red-800 hover:text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                         class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
                    </svg>
                    <span class="ml-1 font-bold text-lg">Back</span>
                </a>
            </div>
            <h1 class="text-red-800 text-4xl pb-10">Your Saved Link: {{ link.url }}</h1>
            <div class="space-y-px mt-8 mb-5">
                <div class="space-y-2 mb-3">
                    <h3 class="text-xl font-medium">Title:</h3>
                    {{ link.title }}
                </div>
                <div class="space-y-2 mb-3">
                    <h3 class="text-xl font-medium">Description:</h3>
                    {{ link.description }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
